body,
html {
    font: 14px/1.5 "PingFang SC", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
}
* {
    opacity: 0.96;
}

body {
    background: url('../img/bg5.jpg') no-repeat;
}

.upper {
    margin: 0 30%;
    padding-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.3);
}

h1 {
    text-align: center;
    margin: 0.33em;
}

ul {
    list-style: none;
    margin: 0 10%;
    padding: 0;
    font-size: 12px;
    background-color: rgba(220, 110, 40, 0.3);
    display: none;
}

li {
    padding-left: 15%;
}

.prizePanel {
    background-color: rgba(153, 35, 35, 0.3);
    border: 2px solid rgb(153, 35, 35);
    margin: 0 10%;
    text-align: center;
    cursor: pointer;
}

.hide {
    display: none;
}

.box {
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
    border-radius: 5%;
    padding: .5%;
    max-width: 324px;
    max-height: 324px;
    margin: 3% auto;
}

.ibox {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.ibox:hover {
    background-color: #eee;
}

.btn {
    background-color: orange;
    color: white;
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 100px;
    border: 0px;
    border-radius: 10%;
    font-size: 18px;
    font-weight: bold;
}

.btn:hover {
    background-color: #ffcb6c;
}

.light {
    background-color: #f57;
}

.light:hover {
    background-color: red;
}

.lottery-result {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    color: red;
}

